@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700');

body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #000000;
  color: #4AF626;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1080px;
  
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;

  min-height: 100vh;
}

footer {
  margin-top: auto;
}

a:link {
  color: #4AF626;
}

a:visited {
  color: #4AF626;
}

#navMenu {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#navMenu > li {
  display: inline-block;
}

#breadcrumbMenu {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#breadcrumbMenu > li {
  display: inline-block;
}

#breadcrumbMenu > li:nth-child(n+2):before {
  content: "/";
}