<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | escape }}</title>
    <meta name="referrer" content="no-referrer-when-downgrade">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header>
      <h1>www.engiqueer.net</h1>
      <nav>
        <div>
          <div>> ls ~</div>
          <div>
          <ul id="navMenu">
            {% set navPages = collections.all | eleventyNavigation("~") %}
          {%- for entry in navPages %}
            <li>
              <a href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
          {%- endfor %}
          </ul>
          </div>
        </div>
        {% set navPages = collections.all | eleventyNavigation(eleventyNavigation.key) %}
        {% if navPages.length > 0 and eleventyNavigation.key != "~" %}
        <div>
          <div>> ls</div>
          <ul id="navMenu">
          {%- for entry in navPages %}
            <li>
              <a href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
          {%- endfor %}
          </ul>
        </div>
        {% endif %}
        {% set navPages = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
        <div>
          > cat 
          <ul id="breadcrumbMenu">
            {%- for entry in navPages %}
              <li>
                <a href="{{ entry.url }}">{{ entry.key }}</a>
              </li>
            {%- endfor %}
            <li>
              <a href="{{ page.url }}">{{ eleventyNavigation.title or eleventyNavigation.key }}</a>.txt
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <article>
        <h2>
          {{ title | safe }}
        </h2>
        {% block article %}
          {{ content | safe }}
        {% endblock %}
      </article>
    </main>

    <footer>
      Joe's Blog!
    </footer>
  </body>
</html>